nav .menu-slide {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0.5rem 0 0.5rem 0;
    position: sticky;
    top: 0%;
}

nav .menu-slide::-webkit-scrollbar {
    display: none;
}

.menu-slide .categoria {
    background-color: var(--blanco);
    border-radius: 17px;
    margin: 0 .5rem;
    height: 7.5rem;
    width: 6.313rem;
    -webkit-box-shadow: 1px 2px 7px 8px rgb(0 0 0 / 5%);
    -moz-box-shadow: 1px 2px 7px 8px rgb(0 0 0 / 5%);
    box-shadow: 1px 2px 7px 8px rgb(0 0 0 / 5%);
    
}

.categoria a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--negro);
    font-weight: 700;
}

.categoria img {
    height: 40px;
    margin-bottom: 1.1rem;
    margin-top: 1.2rem;
    max-width: 7rem;
    min-width: 5rem;
    max-height: 3rem;
    min-height: 3rem;
}