#pagPrincipal header {
  display: flex;
  flex-direction: column;
  align-items: center;

}

header .logo-img {
  height: auto;
  width: 13rem;
  margin-top: 4%;
}

header h1 {
  padding: 0%;
  text-align:center;

}
header h3 {
  padding: 0;
  text-align: left;
  color : var(--gris-oscuro);
  margin-left: 2%; 
}

.header2 {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

@media screen and (min-width: 768px){

header .logo-img {
  margin-top: 5%;
  margin-left: 2%;
  height: 150px;
  width: auto;
}

.txtheader{
  margin-bottom: 10px;
  margin-left: 4%;
}
header h3 {
  margin-left: -0.5%;
}

}