@import url(assets.css);
@import url(categories.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);
@import url(MediaQ.css);
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;500;700;800&display=swap');

body, body *{
    font-family: var(--catamaran);
    margin: 0;
    padding: 0;
} 

@media screen and (min-width: 768px){

body {
    margin: 0 5% 0 5%;
}

}