/**Diseño Boton contador**/
* {
    margin: 0;
    box-sizing: border-box;
}


.masmenos {
    max-width: 2rem;
    min-width: 2rem;
    height:2rem; 
    border-radius: 15%;
    border-color: var(--gris-claro);
    background-color: white;
    font-size: 1rem;
    font-weight: 900;
    padding: 0px 8px 8px 8px;
    box-shadow: 0px;
}

.contador p{
    font-size: 1rem;
    font-weight: 900;
    max-width: 2rem;
    min-width: 2rem;
    background-color: var(--gris-claro);
    text-align: center;
}

.contador {
    display: flex;
    min-width: 25%;
    max-width: 25%;
    font-weight: bolder;
    font-size: 1.2rem;
    flex-direction: row;
}

.descripcion {
    color: var(--gris-oscuro);
    font-size: .8rem;
}

.nombreplato {
    font-size: 1.2rem;
    color: var(--negro)
}

.precio {
    font-size: 1rem;
    color: var(--naranja);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.styleInfo img {
    width: 125px;
    height: 125px;
    border-radius: 10px;
    object-fit: fill;
}

.styleInfo {
    display: flex;
    justify-content: space-around;   
}

.infoplato {    
    justify-content: space-between;
    width: 40%;
    margin-left: 20%;
    letter-spacing: -1px; 
    line-height: 20px; 
}


.main2 {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    font-size: 1.5rem;
    color: var(--negro)
}

/**.pantalla2 {
    display: none;
}