/**Diseño Boton contador**/
* {
    margin-bottom: 0 ;
    box-sizing: border-box;
}

.platos {
    margin-bottom: 20%;
}


.masmenos {
    max-width: 2.188rem;
    min-width: 2.188rem;
    height: 2.125rem; 
    border-radius: 15%;
    border:none;
    background-color: white;
    font-size: 1rem;
    font-weight: 900;
    padding: center;
}

.contador p{
    font-size: 1rem;
    font-weight: 900;
    padding: 4px 8px 8px 8px;
    max-width: 2.063rem;
    min-width: 2.063rem;
    height: 2.125rem; 
    border-radius: 15%;
    background-color: var(--gris-claro);
    text-align: center;

}

.contador {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    -webkit-box-shadow: 3px 2px 6px 2px rgb(0 0 0 / 5%);
    -moz-box-shadow: 3px 2px 6px 2px rgb(0 0 0 / 5%);
    box-shadow: 3px 2px 6px 2px rgb(0 0 0 / 5%);
    width: 99px;
    border-radius: 15%;
}

.descripcion {
    color: var(--gris-oscuro);
    font-size: 0.9rem;
    font-weight: 550;

}

.nombreplato {
    font-size: 1.4rem;
    color: var(--negro);
    font-weight: bolder;
    margin-top: 2px;
}

.precio {
    font-size: 1.2rem;
    color: var(--naranja);
    font-weight: bolder;
    font-family: initial;
}

.styleInfo img {
    width: 8.188rem;
    height: 8.5rem;
    border-radius: 10px;
    object-fit: fill;
    margin: 15px 0 10px 0;
    -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.25);
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.25);
}

.styleInfo {
    display: flex; 
    margin-left: 2%; 
    
}

.infoplato {    
    width: 40%;
    line-height: 25px; 
    margin-top: 4%;
    margin-left: 7%;
}

/**PAGINA 2**/

.main2 {
    display: flex;
    flex-direction: column;
  
}
.footercarrito {
    position: fixed;
    bottom: 0;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 28%;
    background-color:  var(--naranja);
    border-radius: 33px 33px 0 0;
    padding-bottom: 33%;
}

.listado {
    display: flex;
}

.totalText {
    width: 75%;
    margin-left: 10%;
    margin-top: 5%;
    color:white;
    opacity: 60%;
}

.desgloce {
    margin-top: 5%;
    color:white;
    text-align: right;
    margin-right: 10%;
}

.envioP {
    width: 80%;
    margin-left: 10%;
    border-radius: 9px;
    background-color: white;
    border: none;
    height: 35px;
    font-weight: bolder;
    font-size: 1rem;
    margin-top: 3%;
    justify-content: center;
}

.main2 h3 {
    margin-left: 10%;
}

@media screen and (min-width: 768px) {

.styleInfo {
    margin-top: 5%;
    height: 170px;
    justify-content: center;
   }

.precio{
    font-size: 30px;
    margin-top: 0;
}

.infoplato {
    margin: 15px 0 0 45px;
    justify-content: center;
}
.contador{
    margin-top: 10px;
}
.precio{
    margin-left: 120px;
}
.nombreplato{
    margin-top: 18px;
    font-size: 30px;
}

.descripcion{
    font-size: 20px;
}

/**carrito**/

 }
