/**Diseño Boton contador**/
* {
    margin-bottom: 0 ;
    box-sizing: border-box;
}

.platos {
    margin-bottom: 20%;
}


.masmenos {
    max-width: 2.188rem;
    min-width: 2.188rem;
    height: 2.125rem; 
    border-radius: 15%;
    border:none;
    background-color: white;
    font-size: 1rem;
    font-weight: 900;
    padding: center;
    -webkit-box-shadow: 1px 1px 3px 4px rgb(0 0 0 / 5%);
    -moz-box-shadow: 1px 1px 3px 4px rgb(0 0 0 / 5%);
    box-shadow: 1px 1px 3px 4px rgb(0 0 0 / 5%);
}

.contador p{
    font-size: 1rem;
    font-weight: 900;
    padding: 4px 8px 8px 8px;
    max-width: 2.063rem;
    min-width: 2.063rem;
    height: 2.125rem; 
    border-radius: 15%;
    background-color: var(--gris-claro);
    text-align: center;
    -webkit-box-shadow: 1px 1px 3px 4px rgb(0 0 0 / 5%);
    -moz-box-shadow: 1px 1px 3px 4px rgb(0 0 0 / 5%);
    box-shadow: 1px 1px 3px 4px rgb(0 0 0 / 5%);
}

.contador {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    
}

.descripcion {
    color: var(--gris-oscuro);
    font-size: 0.9rem;
    font-weight: 550;

}

.nombreplato {
    font-size: 1.4rem;
    color: var(--negro);
    font-weight: bolder;
    margin-top: 2px;
}

.precio {
    font-size: 1.2rem;
    color: var(--naranja);
    font-weight: bolder;
    font-family: initial;
}

.styleInfo img {
    width: 8.188rem;
    height: 8.5rem;
    border-radius: 10px;
    object-fit: fill;
    margin: 15px 0 10px 0;
}

.styleInfo {
    display: flex; 
    margin-left: 2%; 
}

.infoplato {    
    width: 40%;
    line-height: 25px; 
    margin-top: 4%;
    margin-left: 7%;
}

/**PAGINA 2**/

.main2 {
    display: flex;
    height: 561px;
  
}
.platosselec {
    border-color: solid red;
}
.footercarrito {
    position: sticky;
    bottom: 0;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 12rem;
    background-color:  var(--naranja);
    border-radius: 33px 33px 0 0;
}

.listado {
    display: flex;
}

.totalText {
    width: 75%;
    margin-left: 10%;
    margin-top: 5%;
    color:white;
    opacity: 60%;
}

.desgloce {
    margin-top: 5%;
    color:white;
    text-align: right;
    margin-right: 10%;
}

.envioP {
    width: 80%;
    margin-left: 10%;
    border-radius: 9px;
    background-color: white;
    border: none;
    height: 35px;
    font-weight: bolder;
    font-size: 1rem;
    margin-top: 3%;
    justify-content: center;
}

.main2 h3 {
    margin-left: 10%;
}
